#side {
  overflow: auto;
  padding: 12px;
  flex-basis: 1e-9px;
  scrollbar-width: none;
  overflow-x: hidden;
}
#side:hover {
  overflow-x: hidden;
  max-height: 100%;
  scrollbar-width: thin;
  overflow-y: scroll;
}

#side .-icon {
  width: 24px;
  height: 24px;
}
.-side-pmr {
  display: grid;
  grid-auto-rows: 40px;
  align-items: center;
}
.-side-pmr .-item-active {
  display: grid;
  grid-template-columns: 48px auto;
  align-items: center;
  height: 100%;
  background-color: #f2f2f2;
  padding: 0 12px;
  border-radius: 10px;
}
.-side-pmr .-item-active:hover {
  background-color: #e5e5e5;
}
.-side-pmr .-item {
  display: grid;
  grid-template-columns: 48px auto;
  align-items: center;
  height: 100%;
  background-color: #fff;
  padding: 0 12px;
  border-radius: 10px;
}
.-side-pmr .-item:hover {
  background-color: #f2f2f2;
}
.-side-pmr .-text {
  font-size: 1.4rem;
  line-height: 10px;
}
.-side-pmr .-item-main {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
  height: 100%;
  background-color: #fff;
  padding: 0 12px;
  border-radius: 10px;
}
.-side-pmr .-item-main:hover {
  background-color: #f2f2f2;
}
.-side-pmr .-text-main {
  font-size: 1.7rem;
  line-height: 10px;
}
.-side-pmr .-item-follow {
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  height: 100%;
  background-color: #fff;
  padding: 0 12px;
  border-radius: 10px;
}
.-side-pmr .-item-follow:hover {
  background-color: #f2f2f2;
}
.-side-pmr .-text-follow {
  font-size: 1.7rem;
  line-height: 10px;
}
.separator {
  width: 100%;
  height: 1px;
  background-color: #f2f2f2;
  border: none;
}
.-icon-arrow {
  align-items: center;
  display: flex;
  padding: 0 16px;
}
.-icon-arrow img {
  width: 11px;
  height: auto;
  display: block;
}
.-icon-arrow2 {
  display: flex;
}
.-icon-arrow2 img {
  width: 18px;
  height: auto;
  display: block;
}
.-footer {
  height: 100%;
  padding: 10px;
  align-items: center;
}
.-text-footer {
  font-size: 1.3rem;
  color: hsl(0, 0%, 23%);
}
.-text-footer-c {
  font-size: 1.3rem;
  color: hsl(0, 1%, 34%);
  height: 10px;
  padding-bottom: 0.5cm;
}
.-icon-follow img {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}
.-item .-text-follow {
  font-size: 1.4rem;
  line-height: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline;
  white-space: nowrap;
}
